<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blaze</title>
    <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js" integrity="sha384-BBDmZzVt6vjz5YbQqZPtFZW82o8QotoM7RUp5xOxV3nSJ8u2pSdtzFAbGKzTlKtg" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Blaze</h1>
    <h3>Welcome to Blaze</h3>
    <div hx-ext="ws" ws-connect='/ws'>
        <form id="IDForm" hx-headers='{"Content-Type": "application/json"}' ws-send>
            <label for="clientID">Client:</label>
            <input type="text" id="clientID" name="clientID">
            <label for="targetID">Target:</label>
            <input type="text" id="targetID" name="targetID">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div id="response"></div>
</div>
</body>
</html>
